@import '../General-style.scss';
@import '../PageContent/PageContent.scss';

.page-content {
    margin-top: 0px !important;

    .links {
        margin: 40px auto;
        text-align: center;
        .link {

            font-size: 20pt;
            font-weight: 600;
            text-decoration: none;
            color: inherit;
        }
        .link:hover{
            color:$dark-blue;
        }

    }

    .products-preview {
        box-shadow: none !important;

        .arrivals {
            margin-bottom: 20px;

            .product {
                padding: 30px;

                img {
                    box-shadow: none !important;
                }

                .links {
                    text-decoration: none;
                    color: inherit;
                    cursor: pointer;
                }
            }
        }

        .loading-btn {
            text-align: center;
            justify-content: center;

            button {
                border: 2px solid $teal;
                border-radius: 25px;
                padding: 12px;
                font-family: inherit;
                font-weight: 600;
                color: white;
                font-weight: 600;
                background-color: $teal;
                cursor: pointer;
            }

            button:hover {
                background-color: $darkish-blue;
            }
        }
    }
}