body {
  background-color: #F0EBE3;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body {
  background-color: #F0EBE3;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-content {
  margin-top: 50px;
}
.page-content .payment-content {
  display: flex;
  justify-content: center;
  border: 2px solid #c2bdb5;
  margin: 10px 80px;
  background-color: #E4DCCF;
}
.page-content .payment-content .icon {
  font-size: 50pt;
  margin-right: 30px;
}
.page-content .payment-content .title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 15pt;
}
.page-content .payment-content .free-shipping,
.page-content .payment-content .return,
.page-content .payment-content .secure {
  display: flex;
  align-items: center;
  margin: 20px;
}
.page-content .topics-content {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}
.page-content .topics-content img {
  width: 70%;
}
.page-content .topics-content .links {
  text-decoration: none;
  color: black;
}
.page-content .topics-content .left {
  display: flex;
  width: 60%;
  flex-direction: column;
}
.page-content .topics-content .left .top {
  display: flex;
  flex-direction: row;
}
.page-content .topics-content .left .top .left-top {
  position: relative;
  margin-right: 10px;
}
.page-content .topics-content .left .top .left-top img {
  width: 100%;
}
.page-content .topics-content .left .top .left-top p,
.page-content .topics-content .left .top .left-top button {
  position: absolute;
  top: 0;
}
.page-content .topics-content .left .top .left-top .title {
  font-weight: 700;
  text-transform: uppercase;
  top: 40%;
  right: 20px;
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  font-size: 15pt;
}
.page-content .topics-content .left .top .left-top button {
  top: 50%;
  right: 20px;
  border: 2px solid black;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 12px;
}
.page-content .topics-content .left .top .left-top .links:hover,
.page-content .topics-content .left .top .left-top button:hover {
  background-color: black;
  color: white;
}
.page-content .topics-content .left .top .right-top {
  position: relative;
  margin-right: 10px;
}
.page-content .topics-content .left .top .right-top img {
  width: 100%;
}
.page-content .topics-content .left .top .right-top p,
.page-content .topics-content .left .top .right-top button {
  position: absolute;
  top: 0;
}
.page-content .topics-content .left .top .right-top .title {
  font-weight: 700;
  text-transform: uppercase;
  top: 40%;
  right: 20px;
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  font-size: 15pt;
}
.page-content .topics-content .left .top .right-top button {
  top: 50%;
  right: 20px;
  border: 2px solid black;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 12px;
  text-decoration: none;
}
.page-content .topics-content .left .top .right-top .links:hover,
.page-content .topics-content .left .top .right-top button:hover {
  background-color: black;
  color: white;
}
.page-content .topics-content .left .bottom-top {
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
}
.page-content .topics-content .left .bottom-top img {
  width: 100%;
}
.page-content .topics-content .left .bottom-top p,
.page-content .topics-content .left .bottom-top button {
  position: absolute;
  top: 0;
}
.page-content .topics-content .left .bottom-top .title {
  font-weight: 700;
  text-transform: uppercase;
  top: 20%;
  right: 20px;
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  font-size: 20pt;
}
.page-content .topics-content .left .bottom-top button {
  top: 40%;
  right: 20px;
  border: 2px solid black;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 12px;
}
.page-content .topics-content .left .bottom-top .links:hover,
.page-content .topics-content .left .bottom-top button:hover {
  background-color: black;
  color: white;
}
.page-content .topics-content .right {
  width: 40%;
  position: relative;
}
.page-content .topics-content .right img {
  width: 100%;
  height: 100%;
}
.page-content .topics-content .right p,
.page-content .topics-content .right button {
  position: absolute;
  top: 0;
}
.page-content .topics-content .right .title {
  font-weight: 700;
  text-transform: uppercase;
  top: 50%;
  left: 20px;
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  font-size: 20pt;
}
.page-content .topics-content .right button {
  top: 59%;
  left: 20px;
  border: 2px solid black;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 12px;
}
.page-content .topics-content .right .links:hover,
.page-content .topics-content .right button:hover {
  background-color: black;
  color: white;
}
.page-content .products-preview {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0px -8px;
  justify-content: center;
  background-color: #093f47;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 1;
}
.page-content .products-preview .title {
  font-size: 35pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 20px 502px;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px solid white;
}
.page-content .products-preview .arrivals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page-content .products-preview .arrivals .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
  flex: 1 0 19%;
}
.page-content .products-preview .arrivals .product img {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.page-content .products-preview .arrivals .product .descript-title {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 15pt;
}
.page-content .products-preview .arrivals .product .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  color: white;
  font-size: 20pt;
}
.page-content .products-preview .arrivals .product .icons button {
  color: white;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  font-family: inherit;
  margin-left: 20px;
}
.page-content .products-preview .arrivals .product .icons button.cart {
  font-weight: 600;
  text-transform: uppercase;
  padding: 1em 1em;
  background: #7D9D9C;
  border: 2px solid #576F72;
  border-radius: 50px;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.page-content .products-preview .arrivals .product .icons button.cart::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -3px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: #576F72;
  border-radius: inherit;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.page-content .products-preview .arrivals .product .icons button.cart:hover {
  background: #7D9D9C;
  transform: translate(0, 0.25em);
}
.page-content .products-preview .arrivals .product .icons button.cart:hover::before {
  box-shadow: 0 0 0 2px #0b515c, 0 0.5em 0 0 #0b515c;
  transform: translate3d(0, 0.5em, -1em);
}
.page-content .products-preview .arrivals .product .icons button.cart:active {
  background: #0b515c;
  transform: translate(0em, 0.75em);
}
.page-content .products-preview .arrivals .product .icons button.cart:active::before {
  box-shadow: 0 0 0 2px #0b515c, 0 0 #0b515c;
  transform: translate3d(0, 0, -1em);
}
.page-content .newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F0EBE3;
  border: 2px solid #F0EBE3;
  margin: 0px -8px;
  padding: 25px;
  color: #576F72;
  text-transform: uppercase;
  text-align: center;
}
.page-content .newsletter .context {
  font-size: 63pt;
  font-weight: 600;
  margin: 20px;
}
.page-content .newsletter .subscribe-input {
  border: 2px solid #576F72;
  border-radius: 35px;
  background-color: #576F72;
  margin: auto;
  width: 30%;
  font-size: 20pt;
  display: flex;
  justify-content: start;
  padding: 10px;
}
.page-content .newsletter .subscribe-input input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 15pt;
  width: 80%;
  color: #F0EBE3;
}
.page-content .newsletter .subscribe-input .icon {
  padding: 10px;
  color: #F0EBE3;
}
.page-content .newsletter .subscribe-input button {
  border: 2px solid #F0EBE3;
  color: #576F72;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 25px;
  padding: 12px;
  background-color: #F0EBE3;
}

.page-content {
  margin-top: 0px !important;
}
.page-content .links {
  margin: 40px auto;
  text-align: center;
}
.page-content .links .link {
  font-size: 20pt;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}
.page-content .links .link:hover {
  color: #576F72;
}
.page-content .products-preview {
  box-shadow: none !important;
}
.page-content .products-preview .arrivals {
  margin-bottom: 20px;
}
.page-content .products-preview .arrivals .product {
  padding: 30px;
}
.page-content .products-preview .arrivals .product img {
  box-shadow: none !important;
}
.page-content .products-preview .arrivals .product .links {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.page-content .products-preview .loading-btn {
  text-align: center;
  justify-content: center;
}
.page-content .products-preview .loading-btn button {
  border: 2px solid #7D9D9C;
  border-radius: 25px;
  padding: 12px;
  font-family: inherit;
  font-weight: 600;
  color: white;
  font-weight: 600;
  background-color: #7D9D9C;
  cursor: pointer;
}
.page-content .products-preview .loading-btn button:hover {
  background-color: #0b515c;
}/*# sourceMappingURL=Products.css.map */