$font:'Montserrat', sans-serif;
$beige:#F0EBE3;
$grey:#E4DCCF;
$teal: #7D9D9C;
$dark-blue: #576F72;
$darker-blue: #093f47;

body{
    background-color: $beige;
    font-family: $font;
    font-weight: 500;
} 