@import '../General-style.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $grey;
    border: 10px solid $grey;
    margin: -8px;
    padding:10px;

    .left {
        display: flex;
        font-size: 20pt;
        .logo {
            color: $darker-blue;
            margin-right: 10px;
        }

        .title {
            font-weight: 600;
        }
    }

    .center {
        display: flex;
        border: 2px solid transparent;
        background-color: $beige;
        border-radius: 25px;
        padding: 0px 10px;
        margin: 15px 0px;
        height: 50px;
        width: 45%;

        p {
            text-align: center;
            color:$darker-blue;
        }

        input {
            border:none;
            background-color: transparent;
            width: 100%;
            outline: none;
            padding:15px;
            font-weight:500;
        }
    }

    .right {
        display: flex;
        button{
            margin-right: 20px;
            border:none;
            background-color: transparent;
            color: $darker-blue;
            font-size: 18pt;
            position: relative;
        }
        p {
            margin-right: 20px;
        }
        .heart-icon{
            :hover{
                color:red;
                cursor: pointer;
            }
        }
        .cart-icon{
            :hover{
                color:green;
                cursor: pointer;
            }
        }
        .user-icon{
            :hover{
                color:white;
                cursor: pointer;
            }
        }
        .ellipse{
            border:2px solid black;
            border-radius: 50%;
            position: absolute;
            top:10px;
            right:-10px;
            font-size:15pt;
            padding:0px 5px;
        }
    
    }
}